/*contianer 17*/
.container-17 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
}

/*group 19 image*/
.group-19 {
    width: 50%;
    height: 642px;
}

.group-19>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*wallet options*/
.wallet-options {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.wallet-options-button-1 {
    width: 100%;
    height: 72px;
    border: none;
    border-radius: 20px;
    border: 1px solid var(--Call-to-Action, #A259FF);
    background: var(--Background---Secondary, #3B3B3B);
    color: var(--White, #FFF);
    font-family: "Work Sans";
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    background-image: url(galery/metamask.svg);
    background-repeat: no-repeat;
    background-position: 40px 50%;
    cursor: pointer;
}

.wallet-options-button-2 {
    width: 100%;
    height: 72px;
    padding-left: 60px;
    border: none;
    border-radius: 20px;
    border: 1px solid var(--Call-to-Action, #A259FF);
    background: var(--Background---Secondary, #3B3B3B);
    color: var(--White, #FFF);
    font-family: "Work Sans";
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    background-image: url(galery/WalletConnect.svg);
    background-repeat: no-repeat;
    background-position: 40px 50%;
    cursor: pointer;
}

.wallet-options-button-3 {
    width: 100%;
    height: 72px;
    border: none;
    border-radius: 20px;
    border: 1px solid var(--Call-to-Action, #A259FF);
    background: var(--Background---Secondary, #3B3B3B);
    color: var(--White, #FFF);
    font-family: "Work Sans";
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    background-image: url(galery/Coinbase.svg);
    background-repeat: no-repeat;
    background-position: 40px 50%;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    /*container 17*/
    .container-17 {
        flex-direction: column !important;
        gap: 30px !important;
    }

    /*group 19*/
    .group-19 {
        width: 100% !important;
        height: 232px !important;

    }

    .group-20 {
        width: 315px;
        padding-bottom: 30px;
    }

    /*wallet options*/
    .wallet-options {
        width: 100% !important;
    }


}